/* all about page css */


/* overview section */

.constant-section {
    margin-top: 60px;
    margin-bottom: 100px;
}

.about-overview-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.about-overview-section .subtitle {
    font-family: "Roboto Medium";
    font-size: 30px;
    color:#050817;
}

.about-overview-section .title {
    font-family: "Roboto Bold";
    font-size: 60px;
    color: #050817;
}

.about-overview-section .description {
    font-family: "Inter Regular";
    font-size: 22px;
    color: #001427;
}

.about-vision-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.about-vision-container span {
    font-size: "Inter Regular";
    font-size: 20px;
    color: #001427;
}

.about-overview-image-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.about-overview-image-section .image-overlay {
    position: absolute;
    width: 480px;
    height: 540px;
    border: 2px solid #3a79f9;
    border-radius: 25px;
    top: 8px;
    left: 123px;
    z-index: 1;
}

.about-overview-image-section .main-image {
    position: relative;
    width: 530px;
    height: 500px;
    z-index: 2;
}

.about-overview-image-section .main-image-wrapper {
    display: inline-block;
    position: relative;
}

.about-overview-image-section .main-image-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    background: linear-gradient(rgba(58, 121, 249, 0.2), rgba(58, 121, 249, 0.2));
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    border-radius: 15px;
}

.about-overview-image-section .image-dotted-top {
    position: absolute;
    height: 30%;
    top: -16px;
    left: -62px;
}

.about-overview-image-section .image-dotted-bottom {
    position: absolute;
    height: 30%;
    bottom: -18px;
    right: -22px;
}


/* overview section closed */


/* about programs section */

.about-programs-section {
    background: linear-gradient(90deg, #3a79f9, #171e41);
    padding: 40px;
}

.about-programs-section .about-programs {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-programs-section .about-programs .title {
    font-family: "Roboto Bold";
    font-size: 36px;
    color: white;
    text-transform: capitalize;
}

.about-programs-section .about-programs .description {
    font-family: "Inter Regular";
    font-size: 18px;
    line-height: 2.5rem;
    color: white;
}


/* about programs section closed */


/* about grow section */

.grow-section-bg {
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../assets/images/about/about-grow-section-image.png);
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: contain;
    background-origin: content-box; */
    text-align: center;
}

.past-growth-exp {
    padding-bottom: 5rem;
}

.about-grow {
    padding-top: 10rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.about-grow .title {
    font-family: "Roboto Bold";
    font-size: 60px;
    width: 50%;
    color: #050817;
}

.about-grow .tag-line {
    font-family: "Inter Regular";
    width: 70%;
    font-size: 24px;
    color: #001427;
}

.past-growth .past-growth-year {
    font-family: "Inter Bold";
    font-size: 50px;
    color: #3a79f9;
}

.past-growth .past-growth-content {
    font-family: "Inter Regular";
    font-size: 18px;
    color: #171E41;
}


/* about grow section closed */


/* about creatives section */

.about-creatives-section {
    margin-top: 8rem;
    background: linear-gradient(#e0e8fa, #f5f7ff);
}

.creative-heads {
    padding-top: 5.5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.creative-heads .title {
    font-family: "Roboto Bold";
    font-size: 50px;
    color: #050817;
}

.creative-heads .subtitle {
    font-family: "Inter Regular";
    font-size: 24px;
    width: 70%;
    color: #001427;
}

.creative-heads .gallery .sub-images {
    gap: 25px;
    justify-content: space-between;
    flex: 1;
    height: 100%;
}

.creative-heads .description {
    font-family: "Roboto Bold";
    font-size: 30px;
    text-align: left;
    line-height: 2,8rem;
    color: #171E41;
}

.creativitiy-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 25px;
}

.creativitiy-info .info-title {
    font-family: "Roboto Bold";
    font-size: 30px;
    text-align: left;
    color:#171E41;
}

.creativitiy-info .content {
    font-family: "Inter Regular";
    font-size: 22px;
    text-align: left;
    color: #001427;
}

.creative-heads .creator1-image {
    display: inline-block;
    position: relative;
}

.creative-heads .creator1-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(23, 30, 65, .2), rgba(23, 30, 65, .2));
    border-radius: 20px;
    top: 0;
    left: 0;
}

.creative-heads .creator-sub-image {
    display: inline-block;
    position: relative;
}

.creative-heads .creator-sub-image img,
.creative-heads .creator1-image img {
    border-radius: 20px;
}

.creative-heads .creator-sub-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(23, 30, 65, .2), rgba(23, 30, 65, .2));
    border-radius: 20px;
    top: 0;
    left: 0;
}


/* about creatives section closed */


/* about team section */

.about-team-section {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.about-team-section .section-team-title {
    font-family: "Roboto Bold";
    font-size: 50px;
    text-align: center;
    color:#050817;
}

.about-team-section .section-team-subtitle {
    font-family: "Inter Regular";
    font-size: 24px;
    text-align: center;
    color: #001427;
}

.section-team-more {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.section-team-more .section-team-more-button {
    background: transparent;
    border: 1px solid #3A79F9;
    color: #3A79F9;
    padding: 15px 80px;
    border-radius: 30px;
    font-family: "Inter Medium";
    font-size: 18px;
}


/* about team section closed */


/* about team section */

.team-member-image-hover-effect {
    position: absolute;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(58, 121, 249, .5), rgba(58, 121, 249, .5));
    border-radius: 20px;
    display: none;
    -webkit-animation: fadeIn .3s;
    animation: fadeIn .3s;
}

.team-member-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.team-member-image-hover-overlay {
    position: relative;
}

.team-member-image-container .team-member-image-hover-overlay img {
    mix-blend-mode: luminosity !important;
}

.team-member-image-hover-overlay:hover .team-member-image-hover-effect {
    display: flex;
}

.team-member-image-hover-overlay:hover img {
    mix-blend-mode: normal !important;
}

.team-member-image-hover-effect button {
    background: transparent;
    border: none;
    z-index: 1;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px 20px;
}

.team-member-image-hover-effect .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team-member-image-hover-effect .icons .icon {
    cursor: pointer;
}

.team-member-image-container .team-member-name {
    font-family: "Inter Semi Bold";
    font-size: 32px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#001427 ;

}

.team-member-image-container .team-member-title {
    font-family: "Inter Regular";
    font-size: 22px;
    text-align: center;
    color: #001427;
}


/* about team section closed */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.model-header {
    font-family: 'Roboto Medium';
    text-align: center;
    font-size: 30px;
    color: #050817;
    margin-top: 50px;
    text-transform: capitalize;
    
}

.model_dialog_innner{
    width: 1320px;
    padding:10px;
}
.input,
.select,
.text-area {
    padding: 18px;
    width: 100%;
    border: none;
    border: 1px solid #595d70 !important;
    border-radius: 10px;
    color: #5B5B5B !important;
    outline: none;
    font-size: 22px;
    font-family: "Inter Regular";
}
.input::placeholder {
    color: #5B5B5B !important;
}

.text-area::placeholder{
    color: #5B5B5B !important;
    font-size: 22px;
    font-family: "Inter Regular";

}

.submit-button {
    border: none;
    width: 226px;
    height: 59px;
    background: #3A79F9 0% 0% no-repeat padding-box;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-family: 'Inter Medium';
    letter-spacing: 0px;
}