/***********************************
  all contact page styles
***********************************/

.constant-section {
    margin-top: 100px;
}

.constant-section .section-header {
    font-family: 'Roboto Medium';
    text-align: center;
    font-size: 30px;
}

.input,
.select,
.text-area {
    padding: 18px;
    width: 100%;
    border: none;
    border: 1px solid #595d70 !important;
    border-radius: 10px;
    color: #5B5B5B !important;
    outline: none;
    font-size: 22px;
    font-family: "Inter Regular";
}

.input::placeholder {
    color: #868686 !important;
}

.select {
    color: #939393 !important;
}

.textarea-label {
    color: #939393 !important;
    font-size: 22px;
    font-family: "Inter Regular";
}

.submit-button {
    border: none;
    width: 226px;
    height: 59px;
    background: #3A79F9 0% 0% no-repeat padding-box;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-family: 'Inter Medium';
    letter-spacing: 0px;
}

.info-section {
    background: linear-gradient(90deg, #3A79F9, #171E41 60%);
    padding: 40px;
}

.contact-info-content {
    color: white;
}

.contact-info-content .main-heading {
    font-family: 'Roboto Bold';
    font-size: 30px;
}

.contact-info-content .main-subheading {
    text-align: center;
    font-family: 'Inter Medium';
    font-size: 20px;
    font-weight: 500 !important;
    color: #CFCFCF !important;
}

.contact-info-content .icon-text {
    text-align: center;
    font-family: 'Inter Regular';
    font-size: 20px;
    font-weight: 500 !important;
    color: #FFFFFF !important;
}