/* All home css goes in here */

.header {
    background: linear-gradient(rgba(50, 58, 81, 0.5), rgba(50, 58, 81, 0.5)), url(../assets/images/home/header_image.png);
    height: 100vh;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.left-plane {
    position: absolute;
    content: "";
    height: 100vh;
    width: 60vw;
    background: #171e41;
    top: 0;
    left: 0;
    clip-path: polygon( 0 0, 100% 0%, 100% 0, 76% 100%, 100% 100%, 0% 100%, 0 100%, 0% 0%);
}

.header-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.header-content .header-slogun {
    font-family: "Inter Regular";
    color: white;
    font-size: 26px;
    z-index: 1;
    margin-left: 20px;
}

.header-content .header-title {
    font-family: "Roboto Bold";
    color: white;
    font-size: 90px;
    z-index: 1;
    width: 55%;
    line-height: 7rem;
}

.header-content .header-subtitle {
    font-family: "Inter Regular";
    color: white;
    font-size: 18px;
    z-index: 1;
    width: 45%;
}

.header-content-container .header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-content-container .header-buttons .header-buttons-work {
    background: #3a79f9;
    font-family: "Inter Medium";
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    z-index: 1;
    padding: 15px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    outline: none;
}

.header-content-container .header-buttons .header-buttons-quote {
    background: transparent;
    font-family: "Inter Medium";
    color: white;
    font-size: 18px;
    border: 2px solid #3a79f9;
    border-radius: 25px;
    z-index: 1;
    padding: 15px 35px;
    outline: none;
}

.clients {
    background: #171e41;
}

.clients .home-clients {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
}

.support {
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.support .section-heading {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.support .section-title {
    font-family: "Roboto Bold";
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    color:#050817;
}

.support .section-subtitle {
    font-family: "Inter Regular";
    font-size: 24px;
    width: 77%;
    text-align: center;
    color: #001427;
}

.support .support-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home_bussiness_side_bg {
    background: url(../assets/images/home/home_business_side_img.png);
    background-position: center;
    background-size: cover;
    min-width: 600px;
}

.support .support-content-container .content-image {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: rgba(58, 121, 249, 0.4);
    position: relative;
}

.support .support-content-container .content-image .content-image-icon-1 {
    position: absolute;
    right: -8px;
    top: 21px;
}

.support .support-content-container .content-image .content-image-icon-2 {
    position: absolute;
    right: -12px;
    top: 13px;
}

.support .support-content-container .content-image .content-image-icon-3 {
    position: absolute;
    top: 8px;
    right: -10px;
}

.support .support-content-container .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.support .support-content-container .content .title {
    font-family: "Roboto Medium";
    font-size: 30px;
    color: #050817;
}

.support .support-content-container .content .description {
    font-family: "Inter Regular";
    font-size: 20px;
    text-align: center;
    color: #001427;
}

.home-services {
    position: relative;
    background: linear-gradient( rgba(58, 121, 249, 0.28), rgba(255, 255, 255, 0.03));
    height: 100%;
    margin-top: 5rem;
}

.home-services .curved_image {
    position: absolute;
    top: 0;
    width: 100%;
}

.home-services_main_title {
    display: flex;
    flex: 1;
    margin-top: 18rem;
    gap: 80px;
}

.home-services_main_title .main_title_text {
    font-family: "Roboto Bold";
    font-size: 70px;
    width: 50%;
    line-height: 5rem;
    margin-top: 15px;
    text-transform: capitalize;
    color: #050817;
}

.home-services_main_title .sub_main_title_text {
    font-family: "Inter Regular";
    font-size: 24px;
    color: #5B5B5B;
    line-height: 2.8rem;
}

.home-services .home-service-ul {
    list-style: none;
    padding: 90px;
}

.home-services .home-service-ul .home-service-li {
    border-bottom: 1px solid #3A79F9;
    padding: 50px;
}

.home-services .home-service-ul .home-service-li .home-service-container {
    display: flex;
    align-items: center;
    gap: 70px;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_number_and_image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-width: none;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_number_and_image .service_number {
    font-family: "Inter Bold";
    font-size: 70px;
    color: #5B5B5B;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_number_and_image .service_hr {
    height: 250px;
    width: 1px;
    background: #3A79F9;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_content .service_heading {
    font-family: "Roboto Bold";
    font-size: 40px;
    color: #050817;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_content .service_subheading {
    font-family: "Inter Regular";
    font-size: 20px;
    line-height: 3rem;
    color: #001427;
}

.service_button button {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid #3A79F9;
    color: #3A79F9;
    font-family: "Inter Medium";
    font-size: 18px;
    border-radius: 30px;
    width: 225px;
    padding: 15px;
}

.service_button button i {
    color: #3A79F9 !important;
}

.testinomials {
    background: linear-gradient(rgba(23, 30, 65, .8), rgba(23, 30, 65, .8)), url(../assets/images/home/testimonials/testimo_bg.png);
    background-position: center;
    background-size: cover;
}

.testimonials-container {
    padding: 5rem 0;
}

.testinomials .testimonial-title {
    font-family: "Roboto Bold";
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}

.carouselContainer .carousel-image-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    padding: 30px;
}

.carouselContainer .carousel-image-hr {
    height: 100%;
    width: 1px;
    background: #3A79F9;
}

.carouselContainer .carousel-image-user {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 135px;
}

.carouselContainer .carousel-image-user img {
    border: 8px solid #3A79F9;
    border-radius: 50px;
    height: 65px;
    width: 65px;
}

.carouselContainer .carousel-user-name {
    font-family: "Roboto Regular";
    font-size: 22px;
    color: white;
    width: 100%;
    text-align: center;
}

.carouselContainer .carousel-user-designation {
    font-family: "Inter Regular";
    font-size: 14px;
    color: #727272;
}

.carouselContainer .carousel-image-content {
    font-family: "Inter Regular";
    font-size: 22px;
    line-height: 2rem;
    color: white;
}

.home_business {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.business_container {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.business_container .top_form {
    background: #171E41;
    padding: 5rem 7rem 6rem 12rem;
}

.home_business .form_headings {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
}

.home_business .form_headings .form_headings_title {
    font-family: "Roboto Bold";
    font-size: 64px;
    color: #3A79F9;
}

.home_business .form_headings .form_headings_subtitle {
    font-family: "Inter Medium";
    font-size: 18px;
    color: #D1D1D1;
}

.home_business .input,
.home_business .text-area {
    padding: 15px;
    width: 100%;
    border: none;
    border: 1px solid #DCE7FE !important;
    border-radius: 10px;
    color: #D1D1D1 !important;
    outline: none;
    background: none;
}

.home_business .input::placeholder {
    color: #D1D1D1 !important;
}

.home_business .textarea-label {
    color: #D1D1D1 !important;
}

.home_business .submit-button {
    border: none;
    width: 226px;
    height: 59px;
    background: #3A79F9 0% 0% no-repeat padding-box;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-family: 'Inter Medium';
    letter-spacing: 0px;
}

.home_business .bottom_form {
    height: 100px;
    width: 100%;
    background: #3A79F9;
}

.home_business .bottom_form {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 2rem 7rem 2rem 12rem;
    justify-content: space-between;
    gap: 50px;
}

.home_business .bottom_form_details {
    display: flex;
    align-items: center;
    gap: 30px;
}

.home_business .bottom_form .bottom_form_hr {
    width: 1px;
    background: white;
    height: 100px;
}

.home_business .bottom_form_details .bottom_form_details_percet {
    font-family: "Roboto Bold";
    font-size: 64px;
    color: white;
}

.home_business .bottom_form_details .bottom_form_details_text {
    font-family: "Inter Regular";
    font-size: 20px;
    color: white;
}

.home-qoute {
    position: relative;
    background: #171E41;
    height: 100%;
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 10rem 0 5rem 0;
}

.home-qoute .content {
    font-family: "Poppins Regular";
    font-size: 46px;
    color: white;
}

.home-qoute .content span {
    font-family: "Poppins Bold";
    color: #3A79F9;
}

.home-qoute .review-batch-container {
    height: 100%;
    color: white;
    background: #3A79F9;
    border-radius: 25px;
    padding: 2rem 5rem;
    margin-top: -260px;
    margin-bottom: 5rem;
    min-height: 220px;
}

.home-qoute .review-batch-container .review-batch-item {
    height: 100%;
}

.home-qoute .review-batch-container .review-batch-item .review-batch-item-year {
    font-family: "Inter Semi Bold";
    font-size: 40px;
}

.home-qoute .review-batch-container .review-batch-item .review-batch-item-content {
    font-family: "Inter Regular";
    font-size: 22px;
}

.home-review {
    background: linear-gradient(rgba(23, 30, 65, .9), rgba(23, 30, 65, .9)), url(../assets/images/home/reviews/reviwes_bg.png);
    background-position: center;
    background-size: cover;
}

.home-review .review_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 40px;
    padding: 5rem 0 14rem 0;
}

.home-review .review_container .heading_review {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
}

.home-review .review_container .heading_review .title {
    font-family: "Roboto Bold";
    font-size: 70px;
    color: white;
    line-height: 5rem;
    text-transform: capitalize;
}

.review_container .heading_review .subtitle {
    font-family: "Inter Regular";
    font-size: 20px;
    color: white;
    opacity: .6;
}

.review_container .review_ul {
    list-style: none;
    padding-left: 0 !important;
}

.review_container .review_ul .review_ul_li {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid #707070 !important;
    width: 100%;
    background-color:transparent;
}

.review_container .review_ul .review_ul_li .text {
    font-family: "Inter Regular";
    font-size: 24px;
    color: white;
    background-color: transparent;
}

.review_container .qoute {
    font-family: "Inter Regular";
    font-size: 18px;
    color: white;
    opacity: .6;
}

.review_container .profile {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 40px;
}

.review_container .profile .profile_details {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.review_container .profile .profile_details .name {
    font-family: "Inter Regular";
    font-size: 24px;
    color: white;
}

.review_container .profile .profile_details .design {
    font-family: "Inter Regular";
    font-size: 18px;
    color: white;
    opacity: .6;
}

.home_our_work {
    margin: 8rem 0;
}

.work_section_header_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
}

.home_our_work .work_section_header_container .main_heading {
    font-family: "Roboto Bold";
    font-size: 70px;
    color: #050817;
}

.home_our_work .work_section_header_container .main_subheading {
    font-family: "Inter Regular";
    font-size: 24px;
    color: #001427;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: masonry;
    align-tracks: start;
    justify-tracks: start;
}

.grid-container .item {
    background: transparent;
    position: relative;
    display: flex;
}

.grid-container .item a {
    display: flex;
    width: 100%;
}

.gird-caption {
    font-family: "Inter Black";
    font-size: 90px;
    color: #171e41;
    opacity: 0.3;
}

.turn-upwards {
    position: absolute;
    transform: rotate(90deg);
    left: -330px;
}

.turn-downwards {
    position: absolute;
    transform: rotate(-90deg);
    right: -330px;
}

.complete-relative {
    position: relative;
}

.grid-vital-column {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.grid-container .item .image-hover-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.grid-container .item:hover .image-hover-content {
    display: flex;
}

.grid-container .item:hover img {
    mix-blend-mode: normal !important;
}

.grid-container .item .image-hover-content button {
    position: absolute;
    background: transparent;
    border: 3px solid white;
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-weight: bolder;
}

.grid-container .item .image-hover-content::after {
    content: "";
    border: 3px solid white;
    width: 100%;
    height: 100%;
}

.grid-container .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    mix-blend-mode: luminosity !important;
}

.action_button_potfolio {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.action_button_potfolio button {
    background: transparent;
    border: 1px solid #3A79F9;
    font-family: "Inter Medium";
    font-size: 18px;
    padding: 10px 80px;
    color: #3A79F9;
    border-radius: 30px;
}

.home-review .helped_clients {
    background: #3A79F9;
    color: white;
    height: 187px;
    width: 235px;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-review .helped_clients .calculation {
    font-family: "Inter Semi Bold";
    font-size: 40px;
    text-align: center;
}

.home-review .helped_clients .text {
    font-family: "Inter Medium";
    font-size: 24px;
    text-align: center;
}

.help_images_container {
    margin-top: 6rem;
}

.help_images_container .upper_images {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.lower_image {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lower_image img {
    margin-top: -85px;
    margin-left: -67px;
}