/* All home css goes in here */

.header {
    background: linear-gradient(rgba(50, 58, 81, 0.5), rgba(50, 58, 81, 0.5)), url(../assets/images/home/header_image.png);
    height: 100vh;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.left-plane {
    position: absolute;
    content: "";
    height: 100vh;
    width: 60vw;
    background: #171e41;
    top: 0;
    left: 0;
    clip-path: polygon( 0 0, 100% 0%, 100% 0, 76% 100%, 100% 100%, 0% 100%, 0 100%, 0% 0%);
}

.header-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.header-content .header-slogun {
    font-family: "Inter Regular";
    color: white;
    font-size: 26px;
    z-index: 1;
    margin-left: 20px;
}

.header-content .header-title {
    font-family: "Roboto Bold";
    color: white;
    font-size: 90px;
    z-index: 1;
    width: 55%;
    line-height: 7rem;
}

.header-content .header-subtitle {
    font-family: "Inter Regular";
    color: white;
    font-size: 18px;
    z-index: 1;
    width: 45%;
}

.header-content-container .header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-content-container .header-buttons .header-buttons-work {
    background: #3a79f9;
    font-family: "Inter Medium";
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    z-index: 1;
    padding: 15px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    outline: none;
}

.header-content-container .header-buttons .header-buttons-quote {
    background: transparent;
    font-family: "Inter Medium";
    color: white;
    font-size: 18px;
    border: 2px solid #3a79f9;
    border-radius: 25px;
    z-index: 1;
    padding: 15px 35px;
    outline: none;
}

.clients {
    background: #171e41;
}

.clients .home-clients {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
}

.support {
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.support .section-heading {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.support .section-title {
    font-family: "Roboto Bold";
    font-size: 50px;
    text-align: center;
}

.support .section-subtitle {
    font-family: "Inter Regular";
    font-size: 24px;
    width: 77%;
    text-align: center;
}

.support .support-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.support .support-content-container .content-image {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: rgba(58, 121, 249, 0.4);
    position: relative;
}

.support .support-content-container .content-image .content-image-icon-1 {
    position: absolute;
    right: -8px;
    top: 21px;
}

.support .support-content-container .content-image .content-image-icon-2 {
    position: absolute;
    right: -12px;
    top: 13px;
}

.support .support-content-container .content-image .content-image-icon-3 {
    position: absolute;
    top: 8px;
    right: -10px;
}

.support .support-content-container .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.support .support-content-container .content .title {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 500;
}

.support .support-content-container .content .description {
    font-family: "Inter Regular";
    font-size: 20px;
    text-align: center;
}

.home-services {
    position: relative;
    background: linear-gradient( rgba(58, 121, 249, 0.28), rgba(255, 255, 255, 0.03));
    height: 100%;
    margin-top: 5rem;
}

.home-services .curved_image {
    position: absolute;
    top: 0;
    width: 100%;
}

.home-services_main_title {
    display: flex;
    flex: 1;
    margin-top: 18rem;
    gap: 80px;
}

.home-services_main_title .main_title_text {
    font-family: "Roboto Bold";
    font-size: 70px;
    width: 50%;
    line-height: 5rem;
    margin-top: 15px;
}

.home-services_main_title .sub_main_title_text {
    font-family: "Inter Regular";
    font-size: 24px;
}

.home-services .home-service-ul {
    list-style: none;
    padding: 90px;
}

.home-services .home-service-ul .home-service-li {
    border-bottom: 1px solid #3A79F9;
    padding: 50px;
}

.home-services .home-service-ul .home-service-li .home-service-container {
    display: flex;
    align-items: center;
    gap: 70px;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_number_and_image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-width: none;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_number_and_image .service_number {
    font-family: "Inter Bold";
    font-size: 70px;
    color: #5B5B5B;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_number_and_image .service_hr {
    height: 250px;
    width: 1px;
    background: #3A79F9;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_number_and_image .service_img {}

.home-services .home-service-ul .home-service-li .home-service-container .service_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_content .service_heading {
    font-family: "Roboto Bold";
    font-size: 40px;
}

.home-services .home-service-ul .home-service-li .home-service-container .service_content .service_subheading {
    font-family: "Inter Regular";
    font-size: 20px;
    line-height: 3rem;
}

.service_button button {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid #3A79F9;
    color: #3A79F9;
    font-family: "Inter Medium";
    font-size: 18px;
    border-radius: 30px;
    width: 225px;
    padding: 15px;
}

.service_button button i {
    color: #3A79F9 !important;
}