* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
}


/**************************************
  Navbar
*************************************/

.custom-nav {
    background: #f2f6ff !important;
}

.navbar-brand img {
    height: 40px;
}

.navbar .navbar-nav .nav-item .quote {
    margin: 0;
    padding: 10px 20px;
    background: #3a79f9;
    border: none;
    color: white;
    border-radius: 50px;
}

.navbar .navbar-nav .active .nav-link {
    color: #3A79F9;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.nav-link {
    text-underline-offset: 0;
}

.nav-link:hover {
    color: #3A79F9;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.splitter {
    height: 66px;
    width: 100px;
}

.get-quote-top {
    display: none;
}

.get-quote-bottom {
    display: flex;
}


/**************************************
  Banner
*************************************/

.banner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 868px;
    text-align: center;
}

.banner .banner-heading {
    font-size: 80px;
    font-family: "Roboto Bold";
    color: #ffffff;
}

.banner .banner-heading-2 {
    font-size: 80px;
    font-family: "Roboto Regular";
    color: #ffffff;
}

.banner .banner-description {
    font-size: 26px;
    font-family: "Inter Regular";
    color: #ffffff;
}

.banner .glass-wrapper {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 40px;
    border-radius: 5px;
}

.about-banner {
    background-image: linear-gradient( rgba(50, 58, 81, 0.6), rgba(50, 58, 81, 0.6)), url(../assets/images/banners/about_banner.png);
}

.services-banner {
    background-image: linear-gradient( rgba(50, 58, 81, 0.6), rgba(50, 58, 81, 0.6)), url(../assets/images/banners/services_banner.png);
}

.portfolio-banner {
    background-image: linear-gradient( rgba(50, 58, 81, 0.6), rgba(50, 58, 81, 0.6)), url(../assets/images/banners/portfolio_banner.png);
}

.contact-banner {
    background-image: linear-gradient( rgba(50, 58, 81, 0.6), rgba(50, 58, 81, 0.6)), url(../assets/images/banners/contact_banner.png);
}


/**************************************
  Footer
*************************************/

.footer {
    background: #171e41;
    color: white;
    padding: 20px;
}

.footer .footer-logo {
    margin-top: 80px;
    width: 230px;
    mix-blend-mode: luminosity;
}

.footer .heading {
    font-family: "Roboto Medium";
    font-size: 30px;
    color: #3a79f9;
}

.footer .footer-details-spacing {
    margin-top: 5rem;
}

.footer .description {
    font-family: "Inter Light BETA";
    font-size: 18px;
    color: #E1E4EB !important;
    width: 380px;
    font-weight: lighter;
}

.footer .contact-info,
.footer .information {
    gap: 2.5rem;
}

.footer .contact-info-item {
    color: #E1E4EB;
    font-family: "Inter Light BETA";
    font-size: 18px;
}

.footer .contact-info-item .icon1 {
    width: 20px;
    height: 25px;
}

.footer .contact-info-item .icon2 {
    height: 20px;
}

.footer .contact-info-item .icon3 {
    width: 25px;
    height: 30px;
}

.footer .information {
    font-family: "Inter Light BETA";
    font-size: 18px;
    color: #E1E4EB;
}

.footer-bottom {
    font-family: "Open Sans Regular";
    background: #3a79f9;
    color: #e8e8e8;
    font-size: 16px;
    padding: 25px;
}

.footer-bottom .seprator {
    background: #e8e8e8;
    width: 1px;
    height: 100%;
}


/**************************************
  General Styles
*************************************/

#top-button {
    position: fixed;
    background: #323a51;
    padding: 15px 20px;
    z-index: 1020;
    bottom: 74px;
    right: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}


/* handle lazy load content */

.reveal-loaded {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.2s ease;
}

.reveal-active {
    transform: none;
    opacity: 1 !important;
}


/* handle lazy load content end */